<!DOCTYPE html>
<html id="ng-app" ng-app="jaxRsApiExplorer">
<head prefix="og: http://ogp.me/ns#">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <!-- Optional theme -->
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <link href="/css/simple-sidebar.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    <meta http-equiv="cleartype" content="on">
    <meta charset="UTF-8">
    <meta name="description" content="JAX-RS API Explorer">
    <meta name="keywords" content="JAX-RS, REST, service, explorer">
    <meta name="author" content="Serhii Kryvtsov">
    <!-- Latest compiled and minified JavaScript -->
</head>
<script type="text/javascript" src="js/config/historyPushStateRedirection.js"></script>
<script type="text/javascript" src="js/config/setBaseAppLocation.js"></script>

<!-- AngularJS -->
<script type="text/javascript" src="js/lib/angular.min.js"></script>
<script type="text/javascript" src="js/lib/angular-route.min.js"></script>
<script type="text/javascript" src="js/lib/angular-webstorage.min.js"></script>
<script type="text/javascript" src="js/lib/bindonce.min.js"></script>

<script type="text/javascript" src="js/jaxRsApiExplorer.js"></script>
<!-- AngularJS Controllers -->

<script type="text/javascript" src="js/controllers/HomeController.js"></script>


<body ng-controller="HomeController">
<div ng-repeat="class in classes track by $index" ng-hide="showClass">
    <div ng-click="selectClass($index)">
        {{class.name}}
    </div>
</div>
<div ng-if="showClass && !showMethod">
    <table>
        <thead>
        <tr>
            <td>
                Http method
            </td>
            <td>
                Name
            </td>
            <td>
                Description
            </td>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="method in class.methods track by $index">
            <td>
                {{method.httpMethod}}
            </td>
            <td>
                <a href="#" ng-click="selectMethod($index)">{{class.name}}.{{method.methodName}}</a>
            </td>
            <td>
                {{method.description}}
            </td>
        </tr>
        </tbody>
    </table>
</div>
<div ng-show="showMethod">
    <form name='methodForm'>
        <b>{{method.httpMethod}}</b> {{class.path}}<b>{{path}}</b>

        <div ng-if="method.pathParams || method.pathParams.lenght > 0">
            <h3>Path params:</h3>
            <table>
                <thead>
                <tr>
                    <td>
                        Name
                    </td>
                    <td>
                        Value
                    </td>
                    <td>
                        Type
                    </td>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="pathParam in method.pathParams track by $index">
                    <td>
                        {{pathParam.name}}
                    </td>
                    <td>
                        <input ng-model="params.pathParams[$index]" type="text"
                               placeholder="Path param# {{$index + 1}}"
                               ng-model='criteria'
                               name='pathParam{{$index}}'
                               ng-required="true" ng-change="paramChanged()"/>
                    </td>
                    <td>
                        {{pathParam.typeName}}
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div ng-if="method.pathParams || method.pathParams.lenght > 0">
            <h3>Query params:</h3>
            <table>
                <thead>
                <tr>
                    <td>
                        Name
                    </td>
                    <td>
                        Value
                    </td>
                    <td>
                        Type
                    </td>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="pathParam in method.queryParams track by $index">
                    <td>
                        {{pathParam.name}}
                    </td>
                    <td>
                        <input ng-model="params.queryParams[$index]" type="text" placeholder="Data"
                               ng-model='criteria'
                               ng-required="true" ng-change="paramChanged()"/>
                    </td>
                    <td>
                        {{pathParam.typeName}}
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </form>
</div>
<div class="spinner-container fadein fadeout anim" ng-show="isLoading">
    <div class="spinner-box ">
        <div class="spinner "></div>
        <div class="spinner-text ">Loading...</div>
    </div>
</div>
</body>
</html>