<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="30 seconds">

    <property scope="local" name="ENCODER_PATTERN" value="%d{yyyy-MM-dd'T'HH:mm:ss.SSS'Z',UTC} %logger{36}.%M:%L - %msg%n" />

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${ENCODER_PATTERN}</pattern>
        </encoder>
    </appender>

    <!-- Default logging configuration  -->
    <root level="TRACE">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>
