<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <servlet>
        <servlet-name>ApiExplorer</servlet-name>
        <servlet-class>org.forsp.jax.rs.explorer.JaxRsApiExplorerServlet</servlet-class>
        <init-param>
            <param-name>scanPackage</param-name>
            <param-value>com.pack1, com.pack2</param-value>
        </init-param>
        <init-param>
            <param-name>classes</param-name>
            <param-value>org.forsp.jax.rs.explorer.example.JaxRsExample</param-value>
        </init-param>
        <init-param>
            <param-name>servicePath</param-name>
            <param-value>service/1.0/</param-value>
        </init-param>
    </servlet>

    <servlet-mapping>
        <servlet-name>ApiExplorer</servlet-name>
        <url-pattern>/explorer/*</url-pattern>
    </servlet-mapping>
</web-app>